@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Bebas+Neue&family=Inspiration&family=Montserrat:ital,wght@1,100&family=Raleway&family=Roboto+Mono:wght@500&family=Roboto:wght@300&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: 0;
}
.wrapper{
   background-image: url(/images/Frame\ 5.svg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
}


/* section */

.section-main{
   padding-top: 5%;
   width: 97%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/* nav-social */
.nav-list-social{
   height: 80vh;
   background-color: #212121;
   display: flex;
   flex-direction: column;
   max-width: 100px;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   /* filter: drop-shadow(0px 4px 50px #000000); */
   box-shadow: 0px 4px 50px #000000;
}
.nav-list-social:hover{
   transform: scale(1.01);
   box-shadow: 0px 0px 30px 1px #FF4500;
}


.nav-list-social a{
   opacity: 0.8;
}

.nav-list-social a:hover{
   opacity: 1;
   transform: scale(1.3);
   
  
}
/* main-info */
.main-info{
   background-color: #212121;
   height: 80vh;
   display: flex;
   align-items: center;
   width: 75%;
   border-radius: 15px;
   /* filter: drop-shadow(0px 4px 50px #000000); */
   box-shadow: 0px 4px 50px #000000;
}

.main-wrapper{
   /* padding-top: 5%; */
   /* margin: auto 0; */
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 85%;
   margin: 0 auto;
}

/* main-info text */
.main-info-text{
   text-align: center;
}

.main-info-text-subtittle-main-text{
   text-align: center;
   max-width: 600px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   /* or 165% */
   /* display: flex;
   align-items: center;
   text-align: center; */
   color: #FFFFFF;
   opacity: 0.7;
   margin-bottom: 10%;
   margin-top: 10%;
}

.main-info-text-pretittle{
   font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
opacity: 0.7;

}

.main-info-text-tittle{
   margin-top: 5%;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 600;
   font-size: 58px;
   line-height: 58px;
   text-align: center;
   color: #FFFFFF;
   text-shadow: 0px 4px 10px #000000;
}

.main-info-text-subtittle{
   font-family: 'Inter';
   font-style: normal;
   font-weight: 800;
   font-size: 31px;
   line-height: 38px;
   text-align: center;
   color: #FF4500;
   text-shadow: 0px 4px 10px #000000;
}


.main-info-text-button a{
   text-decoration: none;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   /* identical to box height */
   display: flex;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
   /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
   
}

.main-info-text-button{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 310px;
   margin: 0 auto;
}

.button{
  padding: 5px 15px;
  background-color: #FF4500;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 8px;
   opacity: 0.8;
}

.button:hover{
   opacity: 1;
   transform: scale(1.1);
   box-shadow: #FF4500 0px 0px 15px;
}

/* nav-link */

.nav-list-pages{
   height: 80vh;
   background-color: #212121;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 15px;
   /* filter: drop-shadow(0px 4px 50px #000000); */
   box-shadow: 0px 4px 50px #000000;
}

.nav-list-pages:hover{
   transform: scale(1.01);
   box-shadow: 0px 0px 50px 5px #FF4500;
}

.nav-list-pages a{
   opacity: 0.8;
}

.nav-list-pages a:hover{
   opacity: 1;
   transform: scale(1.1);
}

/* img */
.main-img img{
   border-radius: 20px;
   box-shadow: 0px 4px 100px 10px #000000;
   max-width: 340px;
   max-height: 560px;
   /* mix-blend-mode: darken; */
   /* opacity: 0.5; */
}

.main-img{
   filter: brightness(0.75);
   border-radius: 25px;
}

.main-img:hover{
   cursor: pointer;
   filter: brightness(0.9);
   transform: scale(1.01);
   box-shadow: 0px 0px 50px 5px #FF4500;
}